@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("../img/background.png");
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 90%;
  overflow: hidden;
}
.card {
  border: #ff0000 1px solid;
  border-radius: 5%;
  margin-right: 2em;
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.card h2 {
  font-size: 1em;
}
.card-body {
  width: 100%;
  text-align: center;
}
button {
  margin-bottom: 0.5em;
  overflow: hidden;
  color: white;
  font-size: 1em;
  width: 80%;
  border: none;
  background-color: #ff0000;
}

button:hover {
  background-color: #5e0101;
  cursor: pointer;
}

.color-box {
  font-size: 1.5em;
  color: black;
}
